<!-- buttons -->
<!-- <div>
  <button mat-button color="primary">Hello from Beata</button>

  <button mat-raised-button color="accent">Hello from Beata</button>

  <button mat-icon-button color="warn">icon</button>

  <button mat-fab>icon</button>

  <button mat-mini-fab>icon</button>

  <button mat-stroked-button disableRipple>Hello from Beata</button>

  <button mat-flat-button>Hello from Beata</button>
</div>
<hr> -->
<!-- Display -->
<!-- <div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>
<hr>
<div class="mat-h1">This is for h1</div>
<div class="mat-h2">This is for h2</div>
<div class="mat-h3">This is for h3</div>
<div class="mat-h4">This is for h4</div>
<div class="mat-h5">This is for h5</div>
<div class="mat-h6">This is for h6</div>
<hr>
<div class="mat-body">This is for body text</div>
<div class="mat-body-strong">This is for body text 2</div>
<div class="mat-body-small">This is for caption</div>
<hr>
<div class="mat-typography">
  <h1>This is h1</h1>
  <h2>This is h2</h2>
  <h3>This is h3</h3>
  <h4>This is h4</h4>
</div> -->

<!-- Toggle buttons -->
<!-- <div>
  <mat-button-toggle #toggleBtn checked disabled>Toggle</mat-button-toggle>
  {{ toggleBtn.checked }}
</div>
<hr>
<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{ toggleGroup.value }}
</div> -->

<!-- Icons -->
<!-- <div>
  <mat-icon color="primary">account_circle</mat-icon>
</div> -->

<!-- Badges -->
<!-- <div>
  <span [matBadge]="notifications" [matBadgeHidden]="notifications === 0" matBadgeSize="small">Notifivations</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below before" matBadgeSize="large" matBadgeColor="primary">Notifivations</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below after" matBadgeSize="medium" matBadgeColor="accent">Notifivations</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="above before" matBadgeColor="warn" matBadgeOverlap="false">Notifivations</span>
</div> -->

<!-- MatProgressSpinner -->

<mat-progress-spinner value="50"></mat-progress-spinner>
<mat-spinner></mat-spinner>
