
<h2>Material Example</h2>
<hr>
<!-- buttons -->
<!-- <div>
  <button mat-button color="primary">Hello from Beata</button>

  <button mat-raised-button color="accent">Hello from Beata</button>

  <button mat-icon-button color="warn">icon</button>

  <button mat-fab>icon</button>

  <button mat-mini-fab>icon</button>

  <button mat-stroked-button disableRipple>Hello from Beata</button>

  <button mat-flat-button>Hello from Beata</button>
</div>
<hr> -->
<!-- Display -->
<!-- <div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>
<hr>
<div class="mat-h1">This is for h1</div>
<div class="mat-h2">This is for h2</div>
<div class="mat-h3">This is for h3</div>
<div class="mat-h4">This is for h4</div>
<div class="mat-h5">This is for h5</div>
<div class="mat-h6">This is for h6</div>
<hr>
<div class="mat-body">This is for body text</div>
<div class="mat-body-strong">This is for body text 2</div>
<div class="mat-body-small">This is for caption</div>
<hr>
<div class="mat-typography">
  <h1>This is h1</h1>
  <h2>This is h2</h2>
  <h3>This is h3</h3>
  <h4>This is h4</h4>
</div> -->

<!-- Toggle buttons -->
<!-- <div>
  <mat-button-toggle #toggleBtn checked disabled>Toggle</mat-button-toggle>
  {{ toggleBtn.checked }}
</div>
<hr>
<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{ toggleGroup.value }}
</div> -->

<!-- Icons -->
<!-- <div>
  <mat-icon color="primary">account_circle</mat-icon>
</div> -->

<!-- Badges -->
<!-- <div>
  <span [matBadge]="notifications" [matBadgeHidden]="notifications === 0" matBadgeSize="small">Notifivations</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below before" matBadgeSize="large" matBadgeColor="primary">Notifivations</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below after" matBadgeSize="medium" matBadgeColor="accent">Notifivations</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="above before" matBadgeColor="warn" matBadgeOverlap="false">Notifivations</span>
</div> -->

<!-- MatProgressSpinner -->

<!-- <mat-progress-spinner value="50"></mat-progress-spinner>
<hr>
<mat-spinner *ngIf="showSpinner" color="accent"></mat-spinner>
<button (click)="loadData()">Load Data</button> -->

<!-- Navbar-- Toolbar -->
<!--
  <div>DevLink</div>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
  </div>
</mat-toolbar> -->

<!-- SideNav -->
<!-- <mat-sidenav-container>
  <mat-sidenav (opened)="log('Opened')" (closed)="log('Closed')" #sidenav mode="side" [(opened)]="opened">SideNav</mat-sidenav>
  <mat-sidenav-content>Main
    <button (click)="opened=!opened">Toggle Opened</button>
    <button (click)="sidenav.open()">Open</button>
    <button (click)="sidenav.close()">Close</button>
    <button (click)="sidenav.toggle()">Toggle</button>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- Menu -->
<!-- <mat-menu #appMenu="matMenu" xPosition="after" yPosition="above" >
  <button mat-menu-item [matMenuTriggerFor]="subMenu">FrontEnd</button>
  <button mat-menu-item>BackEnd</button>
</mat-menu>

<button mat-flat-button [matMenuTriggerFor]="appMenu" class="center">Menu</button>

<mat-menu #subMenu="matMenu">
  <button mat-menu-item>Angular</button>
  <button mat-menu-item>React</button>
  <button mat-menu-item>Vue</button>
</mat-menu>

<mat-menu #lazyMenu="matMenu">
  <ng-template matMenuContent let-name="name" let-hobby="hobby">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Hobby is {{hobby}}</button>
    <button mat-menu-item>Log out {{name}}</button>
  </ng-template>
</mat-menu>

<button
  [matMenuTriggerFor]="lazyMenu"
  [matMenuTriggerData]="{name: 'Vishwas', hobby: 'eating'}">
  Vishwas
</button>
<button
  [matMenuTriggerFor]="lazyMenu"
  [matMenuTriggerData]="{name: 'Code', hobby: 'sleeping'}">
  Code
</button>
<hr>
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu> -->

<!-- Lists -->

<!-- <mat-list>
  <mat-list-item>
    <mat-icon matListIcon>home</mat-icon>
    <h3 matLine>Heading</h3>
    <p matLine>Line</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListIcon>folder</mat-icon>
    <h3 matLine>Heading 2</h3>
    <p matLine>Line 2</p>
  </mat-list-item>
</mat-list> -->

<!-- <mat-list dense>
  <mat-list-item> Pepper </mat-list-item>
  <mat-list-item> Salt </mat-list-item>
  <mat-list-item> Paprika </mat-list-item>
</mat-list>

<mat-nav-list>
  <a mat-list-item href="#">Home</a>
  <a mat-list-item href="#">About</a>
  <a mat-list-item href="#">Services</a>
</mat-nav-list> -->

<!-- Grid List -->

<!-- <mat-grid-list cols="2" rowHeight="fit" style="height: 200px;" gutterSize="10px">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->

<!-- Expansion Panel -->

<!-- <mat-accordion multi="true" hideToggle>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Fundamentals
      </mat-panel-title>
      <mat-panel-description>
        Total Duration : 3 hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the panel content. Add course details.</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Material
      </mat-panel-title>
      <mat-panel-description>
        Total Duration : 2 hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the panel content. Add course details.</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion> -->

<!-- Cards -->
<!-- <mat-card>
  <mat-card-title>
    Card Title
  </mat-card-title>
  <mat-card-content>
    This is card content
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button >Login</button>
  </mat-card-actions>
</mat-card> -->

<!-- Tabs -->
<!-- <mat-tab-group #tabRef (selectedTabChange)="logChange(tabRef.selectedIndex)">
  <mat-tab label="Angular">Angular Conteny</mat-tab>
  <mat-tab label="React">React Content</mat-tab>
  <mat-tab label="Vue">Vue Content</mat-tab>
</mat-tab-group>
{{tabRef.selectedIndex}} -->

<!-- Steppers -->
<!-- <mat-horizontal-stepper linear>
  <mat-step label="Shipping Address" completed="true">
    <p>Shipping Address Details</p>
  </mat-step>
  <mat-step label="Billing Address" completed="false" optional>
    <p>Billing Address Details</p>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Place Order" completed="false">
    <p>Order Details</p>
  </mat-step>
</mat-horizontal-stepper>

<mat-vertical-stepper linear>
  <mat-step label="Shipping Address" completed="true">
    <p>Shipping Address Details</p>
  </mat-step>
  <mat-step label="Billing Address" completed="false" optional>
    <p>Billing Address Details</p>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Place Order" completed="false">
    <p>Order Details</p>
  </mat-step>
</mat-vertical-stepper> -->

<!-- Input, Forms -->
<!-- <mat-form-field floatLabel="auto" hideRequiredMarker appearance="legacy">
  <mat-label>Name</mat-label>
  <input matInput required>
  <mat-hint align="end">Max 5 characters</mat-hint>
</mat-form-field>
<hr>
<mat-form-field floatLabel="auto" hideRequiredMarker appearance="standard">
  <mat-label>Name</mat-label>
  <input matInput required>
  <mat-hint align="end">Max 5 characters</mat-hint>
</mat-form-field>
<hr>
<mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill" color="accent">
  <mat-label>Name</mat-label>
  <input matInput required>
  <mat-hint align="end">Max 5 characters</mat-hint>
</mat-form-field>
<hr>
<mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline" color="warn">
  <mat-label>Name</mat-label>
  <input matInput required>
  <mat-hint align="end">Max 5 characters</mat-hint>
</mat-form-field> -->

<!-- Select Component -->
<!-- <br>
<br>
<mat-form-field>
  <mat-label>Topic</mat-label>
  <mat-select [(value)]= 'slectedValue' multiple>
    <mat-option>None</mat-option>
    <mat-optgroup label="Web">
      <mat-option value="angular">Angular</mat-option>
      <mat-option value="react">React</mat-option>
      <mat-option value="vue">Vue</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Mobil">
      <mat-option value="ionic">Ionic</mat-option>
      <mat-option value="reactnative">React Native</mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>

{{slectedValue}} -->

<!-- Autocomplite -->
<!-- <form>
  <mat-form-field>
    <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of objectOptions" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->

<!-- checkboxes -->
<!-- <mat-checkbox>
  Subscribe
</mat-checkbox>
<br>
<mat-checkbox labelPosition="before" color="primary">
  Subscribe
</mat-checkbox> -->

<!-- Radio buttons -->
<mat-radio-group>
  <mat-radio-button value="angular">Angular</mat-radio-button>
  <mat-radio-button value="react">React</mat-radio-button>
  <mat-radio-button value="vue">Vue</mat-radio-button>
</mat-radio-group>
