<button mat-button>Hello from Beata</button>
<br>
<button mat-raised-button>Hello from Beata</button>
<br>
<button mat-icon-button>Hello from Beata</button>
<br>
<button mat-fab>Hello from Beata</button>
<br>
<button mat-mini-fab>Hello from Beata</button>
<br>
<button mat-stroked-button>Hello from Beata</button>
<br>
<button mat-flat-button>Hello from Beata</button>
<hr>
<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>
<hr>
<div class="mat-h1">This is for h1</div>
<div class="mat-h2">This is for h2</div>
<div class="mat-h3">This is for h3</div>
<div class="mat-h4">This is for h4</div>
