<h2 mat-dialog-title>Session timeout</h2>
<mat-dialog-content>
  I'm baby sartorial vinyl actually hot chicken intelligentsia helvetica aesthetic swag. Craft beer tattooed iPhone
  authentic four loko cold-pressed tousled jianbing fanny pack before they sold out heirloom pok pok. Cold-pressed
  raclette four loko sartorial shoreditch cred plaid iPhone. Venmo blog you probably haven't heard of them art party
  stumptown retro direct trade gastropub edison bulb pinterest pour-over.
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button>Keep me logged</button>
  <button mat-button>Log out</button>
</mat-dialog-actions>
